@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');

body {
  font-family: 'Montserrat', sans-serif;
}

html,
body {
  overflow-y: auto; /* Đảm bảo có thanh cuộn dọc */
}

body::-webkit-scrollbar {
  width: 8px;
}

body::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.2); /* màu thanh kéo */
  border-radius: 4px;
}

body::-webkit-scrollbar-track {
  background: transparent;
}

