.ant-form-item-label > label {
  font-weight: 600;
  font-size: 16px;
  color: #1f1f1f; /* hoặc #000 nếu muốn đậm hơn */
}

.ant-form-item .ant-input {
  border: 1px solid rgb(199, 199, 199);
  border-radius: 8px;
  padding: 6px 8px;
}

